/* Contains all style code for the core article content of a page.
 * Put no style code here NOT specifically applying to article text. */
article h1 {
	font-size: 30pt;
}
article h2 {
	font-size: 20pt;
}
article p, li {
	font-family: sans-serif;
	font-size: 12pt;
}
article a {
	color: black;
}
article .expired {
	font-weight: normal;
	text-decoration: line-through;
	font-size: 15pt;
}
h5 {
	text-align: right;
	font-style: italic;
}
article {
	margin-left: 20%;
	margin-right: 20%;
}
