.wow {
  width: 100px;
}
h1 {
  text-align: center;
  font-size: 30px;
  color: yellow;
}
body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: auto;
}
h1 {
  font-size: 40px;
}
h3 {
  display:inline;
  padding-right: 20px;
  padding-left: 0px;
  vertical-align: middle;
}
h5 {
  font-size: 10px;
  text-align: center;
  float: bottom;
  padding-top: 160px;
}
#navbar {
  float: left;
  text-align: center;
  width: 100px;
  border: solid white 2px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: yellow;
}
#main {
  float: none;
  width: 70%;
  font-size: 20px;
}
p {
  text-indent: 30px;
}
img {
  vertical-align: middle;
}
.navIcon:hover {
  filter: brightness(0) saturate(100%) invert(100%) sepia(98%) saturate(5923%) hue-rotate(356deg) brightness(104%) contrast(104%);
}
